
ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
img {
    
    height: auto;
    /*max-width: 100%;*/
}

.center_block_img{
	max-width: 100%;
	width: 200px;
	height: 200px;
}